.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


input {
  writing-mode: horizontal-tb !important;
  font-size: 1.2rem;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: #fafcda;
  margin: 25px 0;
  padding-left: 10px;
  border-width: 6px;
  border: none;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 6px 9px #333;
  height: 40px;
  
}

  .btn.btn-primary.navbar-btn:hover {
    transform: scale(1.1);
    background-color: #43bfc6;
    
  }

.mt-5 {
  margin-top: 1rem!important;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* bootstrap overdrive */
.navbar-dark .navbar-brand {
  color: #fff;
  font-size:2rem;
  color:white;

  animation-name:glow;
  animation-duration:1s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
}
@keyframes glow{
  from{text-shadow:0px 0px 5px #fff,0px 0px 5px #614ad3;}
  to{text-shadow:0px 0px 20px #fff,0px 0px 20px #614ad3;}
}


.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: none;
  /* margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x)); */
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.btn-primary {
  margin:8px;
  color: #fff;
  background-color: #a938ff;
  border-color: #38eca7;
  
}
img.letters {
width: auto;
height: 25rem;
display: flex;
background-repeat: no-repeat;
background-size: contain;
background-position: 0 0rem
}
img.letters:hover{
  -webkit-filter: brightness(225%);
 filter: brightness(120%);
  
 }

img {
  object-fit: cover;
  border-radius: 0.60rem;
}
img:hover{
 -webkit-filter: brightness(25%);
filter: brightness(80%);
 
}

.location {
  font-weight: 500
}

.card {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(248, 252, 8, 0.31);
  border-radius: 0.65rem;
  box-shadow: 6px 6px 10px #333;
  
}
.h5, h5 {
  font-size: 1.40rem;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0px;
  margin-bottom: 16px;
  height: 40px;
  width: 260px;
  
}

.card p b {
  color: #fca919;

}

.red:before {
  content: "•";
  font-size: 40px;
  position: relative;
  top: 0.15em;
  color: red;
}

.green:before {
  content: "•";
  position: relative;
  top: 0.15em;
  font-size: 40px;
  color: green;
}
